In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sys
from pathlib import Path
import os

current_dir = Path.cwd()
sys.path.insert(0, str(current_dir.parent))

from config import PROCESSED_DATA_DIR

In [21]:
df = pd.read_csv(Path(PROCESSED_DATA_DIR)/"processed_data.csv", encoding="Windows-1251")
df.head()

                                              skills collecting_date
0  ['Маркетплейсы', 'Аналитика', 'ABC-анализ', 'А...      2025-09-16
1                                                 []      2025-09-16
2  ['Английский язык', 'Работа с большим объемом ...      2025-09-16
3  ['Деловое общение', 'Деловая переписка', 'Рабо...      2025-09-16
4  ['SQL', 'Базы данных', 'Работа с базами данных...      2025-09-16

In [29]:
df = df[df['skills'] != '[]']
df.head()

                                              skills collecting_date
0  ['Маркетплейсы', 'Аналитика', 'ABC-анализ', 'А...      2025-09-16
2  ['Английский язык', 'Работа с большим объемом ...      2025-09-16
3  ['Деловое общение', 'Деловая переписка', 'Рабо...      2025-09-16
4  ['SQL', 'Базы данных', 'Работа с базами данных...      2025-09-16
5  ['Аналитическое мышление', 'Работа с базами да...      2025-09-16